<%= form_for(manga) do |f| %>
  <% if manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manga.errors.count, "error") %> prohibited this manga from being saved:</h2>

      <ul>
      <% manga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :users %>
    <%= f.select :user_ids, User.all_except(current_user).collect { |u| [u.username, u.id] }, {include_blank: true}, {multiple: true} %>
  </div>

  <div class="field">
    <%= f.label :date_parution %>
    <%= f.date_select :date_parution, start_year: 2010, order: [ :day, :month, :year] %>
  </div>

  <div class="field">
    <%= f.label :pair, "Pair ou impaire ?" %>
    <%= f.radio_button :pair, true %>
    <%= label :pair, 'Pair' %>
    <%= f.radio_button :pair, false %>
    <%= label :pair, 'Impair' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :apercu %>
    <%= f.file_field :apercu %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
