<h1>Mangas</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mangas.each do |manga| %>
      <tr>
        <td><%= manga.titre %></td>
        <td><%= image_tag manga.thumbnail, size: '100x100' %></td>
        <td><%= link_to 'Show', manga %></td>
        <td><%= link_to 'Edit', edit_manga_path(manga) %></td>
        <td><%= link_to 'Destroy', manga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= controller_name %>

<br>

<%= link_to 'New Manga', new_manga_path %>
<%= link_to 'Accueil', root_path %>
