<p id="notice"><%= notice %></p>

<h1>Mangas</h1>

<% @mangas.each do |m| %>
<div class="manga">
  <%= m.titre %><br />
  <%= image_tag m.apercu, size: '200x200' %><br />
  <% m.pejis.each do |p| %>
    <%= image_tag p.image, size: '100x100' %>
  <% end %>
      <br />
  <%= link_to 'Show', m %>
  <%= link_to 'Edit', edit_manga_path(m) %>
  <%= link_to 'Destroy', m, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<br clear="all" />
<% end %>


<br>

<%= link_to 'New Manga', new_manga_path %>
