<div class="series-container">
  <div class="cadre-container">
    <h2>Séries</h2>
    <p>Voici l'ensemble de nos séries prépubliées dans le Kippon Dream ! A partir du numéro 06 elles
      sont partagées entre numéros pairs et impairs, vous pouvez donc les retrouver comme cela !</p>
    <div class="flex-series">
      <div class="series series-paires">
        <p>Séries paires</p>

        <% @pair.each do |p| %>
        <% if p.chapters.size > 0 %>
        <div class="serie kd-animate">
          <div class="container-img">
            <%= image_tag p.apercu, size: '158x218' %>
          </div>
          <div class="container-texte">
            <h3><%= p.titre %></h3>
            <p><%= simple_format(p.description) %></p>
            <%= link_to 'lire la suite', peji_path(manga_id: p, chapter_id: p.chapters.size, id: 1) %>
          </div>
        </div> <!-- .serie -->
        <% end %>
        <% end %>

      </div> <!-- .series .series-paires -->

      <div class="barre"></div>

      <div class="series series-impaires">
        <p>Séries impaires</p>
        <% @impair.each do |i| %>
        <% if i.chapters.size > 0 %>
        <div class="serie kd-animate">
          <div class="container-img">
            <%= image_tag i.apercu, size: '158x218' %>
          </div>
          <div class="container-texte">
            <h3><%= i.titre %></h3>
            <p><%= simple_format(i.description) %></p>
            <%= link_to 'lire la suite', peji_path(manga_id: i, chapter_id: i.chapters.size, id: 1) %>
          </div>
        </div> <!-- .serie -->
        <% end %>
        <% end %>

      </div> <!-- .series .series-impaires -->
    </div>

  </div>
</div>
