<div class="series-container">
  <div class="cadre-container">
    <h2>Séries</h2>
    <div class="flex-series">
      <div class="series series-paires">
        <p>Séries paires</p>

        <% @pair.each do |p| %>
        <div class="serie">
          <div class="container-img">
            <%= image_tag p.apercu, size: '158x218' %>
          </div>
          <div class="container-texte">
            <h3><%= p.titre %></h3>
            <p><%= p.description %></p>
            <%= link_to 'lire la suite', p %>
          </div>
        </div> <!-- .serie -->
        <% end %>

      </div> <!-- .series .series-paires -->

      <div class="barre"></div>

      <div class="series series-impaires">
        <p>Séries impaires</p>
        <% @impair.each do |i| %>
        <div class="serie">
          <div class="container-img">
            <%= image_tag i.apercu, size: '158x218' %>
          </div>
          <div class="container-texte">
            <h3><%= i.titre %></h3>
            <p><%= i.description %></p>
            <%= link_to 'Lire la suite', i %>
          </div>
        </div> <!-- .serie -->
        <% end %>

      </div> <!-- .series .series-impaires -->
    </div>

  </div>
</div>