<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @manga.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manga.description %>
</p>

<p>
  <strong>Apercu:</strong>
  <%= image_tag @manga.apercu, size: '200x200' %>
</p>
<p><strong>Chapitres :</strong></p>
<% @manga.chapters.each do |c| %>
    <li>
      <%= link_to c.titre, c %>
    </li>
<% end %>

<p>
  <strong>Users:</strong>
  <%= @manga.users.map(&:username).join(" - ") %>
</p>

<%= link_to 'Ajouter un chapitre', new_chapter_path(@manga.attributes['id']) %> <br />

<%= link_to 'Edit', edit_manga_path(@manga) %> |
<%= link_to 'Back', mangas_path %>
