<p>
  <strong>Titre:</strong>
  <%= @manga.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@manga.description) %>
</p>

<p>
  <strong>Apercu:</strong>
  <%= image_tag @manga.apercu, size: '200x200' %>
</p>

<p>
  <strong>Banniere:</strong>
  <%= image_tag @manga.banniere, size: '200x200' %>
</p>

<p><strong>Chapitres :</strong></p>
<% @manga.chapters.each do |c| %>
    <li>
      <%= link_to c.titre, peji_path(manga_id: @manga.slug, chapter_id: c.chapter_number, id: 1) %>
      <% if @manga.users.include? current_user %>
        (<%= link_to 'Modifier', edit_manga_chapter_path(@manga, c.chapter_number) %>
        |
        <%= link_to 'Supprimer', manga_chapter_path(@manga, c.chapter_number), :method => :delete, data: {confirm: 'Le chapitre et son contenu seront supprimer, confirmer ?'} %>)
      <% end %>
    </li>
<% end %>

<p>
  <strong>Users:</strong>
  <%= @manga.users.map(&:username).join(" - ") %>
</p>

<%= link_to 'Ajouter un chapitre', new_manga_chapter_path(@manga) %> <br />

<%= link_to 'Edit', edit_manga_path(@manga) %> |
<%= link_to 'Back', mangas_path %>
