
<p>
  <strong>Titre:</strong>
  <%= @manga.titre %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @manga.thumbnail, size: '100x100' %>
</p>

<p>
  <strong>Scans :</strong>
  <% @manga.scans.each do |m| %>
    <%= image_tag m.image.url, size: '100x100' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_manga_path(@manga) %> |
<%= link_to 'Back', mangas_path %>
