<h1>Admin Mangas</h1>

<table>
  <tbody>
    <% @admin_mangas.each do |admin_manga| %>
      <tr>
        <td><%= admin_manga.titre %></td>
        <td><%= image_tag admin_manga.thumbnail, size: '100x100' %></td>
        <td>
          <% admin_manga.admin_scen.each do |scan| %>
            <%= image_tag scan.image, size: '100x100' %>
          <% end %>
        </td>
        <td><%= link_to 'Show', admin_manga %></td>
        <td><%= link_to 'Edit', edit_admin_manga_path(admin_manga) %></td>
        <td><%= link_to 'Destroy', admin_manga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Manga', new_admin_manga_path %>
