<p>
  <strong>Titre:</strong>
  <%= @admin_manga.titre %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @admin_manga.thumbnail, size: '100x100' %>
</p>

<p>
  <strong>Scans:</strong>
  <% @admin_manga.admin_scen.each do |scan| %>
    <%= image_tag scan.image, size: '100x100' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_manga_path(@admin_manga) %> |
<%= link_to 'Back', admin_mangas_path %>
