<%= form_for(admin_article) do |f| %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :contenu %>
    <%= f.cktext_area :contenu, :class => 'ckeditor',  ckeditor: { language: 'fr', toolbar: 'mini'} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
