<p>
  <strong>Titre:</strong>
  <%= @admin_article.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= simple_format(@admin_article.contenu) %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @admin_article.user.username %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@admin_article) %> |
<%= link_to 'Back', admin_articles_path %>
