<h1>Partie admin</h1>

<ul>

  <li><%= link_to 'Carousel', admin_carousels_path %></li>
  <li><%= link_to 'Magazines', admin_magazines_path %></li>
  <li><%= link_to 'Mangas', admin_mangas_path %></li>
  <li><%= link_to 'Articles', admin_articles_path %></li>

  <%= link_to 'New User', new_user_path %>
</ul>
