<h1>Partie admin</h1>

<ul>

  <li><%= link_to 'Carousel', admin_carousels_path %></li>
  <li><%= link_to 'Modifier présentation', edit_presentation_path(id: 1) %></li>
  <li><%= link_to 'Magazines', magazines_path %></li>
  <li><%= link_to 'Articles', Blog %></li>

  <%= link_to 'New User', new_user_path %>
</ul>
