<%= form_for(magazine) do |f| %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :apercu %>
    <%= f.file_field :apercu %>
  </div>

  <div class="field">
    <%= f.label :banniere %>
    <%= f.file_field :banniere %>
  </div>

    <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :maxlength => 1000 %>
  </div>

  <div class="field">
    <%= f.label :date_parution %>
    <%= f.date_select :date_parution, start_year: 2010, order: [ :day, :month, :year] %>
  </div>

  <div class="field">
    <%= f.label :pair, "Pair ou impaire ?" %>
    <%= f.radio_button :pair, true %>
    <%= label :pair, 'Pair' %>
    <%= f.radio_button :pair, false %>
    <%= label :pair, 'Impair' %>
  </div>

  <div class="field">
    <label for="images[]">Multi Upload</label>
    <%= file_field_tag 'images[]', type: :file, multiple: true %>
  </div>

  <div class="field">
    <%= f.label :link_mangadraft %>
    <%= f.text_field :link_mangadraft %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
