<p id="notice"><%= notice %></p>

<h1>Magazines</h1>

<% @magazines.each do |magazine| %>
  <div class="magazines">
    <h4><%= magazine.titre %></h4>
    <%= image_tag magazine.apercu, size: '200x200' %><br />

    <% magazine.pages.each do |p| %>
        <%= image_tag p.image, size: '100x100' %>
    <% end %>
    <br />

    <%= link_to 'Show', magazine %>
    <%= link_to 'Edit', edit_magazine_path(magazine) %>
    <%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<br clear="all" />
<% end %>


<br>

<%= link_to 'New Magazine', new_magazine_path %>
