<div class="last-mag">
    <!-- Dernier Magazine -->
    <div class="couv">
      <%= image_tag @last.apercu %>
    </div>

    <div class="last-mag-text">

      <div class="edito-series">
        <div class="edito">
          <h3><%= @last.titre %></h3>
          <%= simple_format(@last.description) %>
        </div>

        <div class="series-num">
          <h4>Séries dans ce mag :</h4>
          <ul>
            <li>Pain </li>
            <li>Dawn of</li>
            <li>Infinite Revenge</li>
            <li>3 coups</li>
          </ul>

          <div class="id-mag">
            <%= link_to image_tag('btnmangadraft.png'), @last.link_mangadraft, :target => '_blank' %>
            <%= link_to image_tag('btnkippon.png'), magazine_page_path(@last.slug, 1) %>
          </div>
        </div>
      </div> <!-- .edito-series -->


    </div> <!-- .last-mag-text -->
  </div> <!-- .last-mag -->
  <!-- /dernier magazine -->

<div class="mags-container">
  <div class="owl-carousel owl-theme" id="mag-carousel">

    <!-- slide -->
    <% @magazines.each do |m| %>
    <div class="mag-container item">
      <h3><%= m.titre %><span class="date-sortie"><%= m.date_parution.strftime('%d/%m/%Y') || m.created_at.strftime('%d/%m/%Y') %></span></h3>
      <div class="edito-couv">
        <div class="mag-btn-edito">
          <div class="mag-liens">

              <h4>Séries dans ce mag :</h4>
              <ul>
                <li>Pain</li>
                <li>Dawn of</li>
                <li>Infinite Revenge</li>
                <li>3 coups</li>
              </ul>

              <div class="id-mag">
                <!-- Lien Mangadraft -->
                <%= link_to image_tag('btnmangadraft.png'), m.link_mangadraft %>
                <%= link_to image_tag('btnkippon.png'), magazine_page_path(m, 1) %>
              </div>

          </div>

          <div class="mag-edito">
            <p><%= simple_format(m.description) %></p>
          </div>
        </div> <!-- .mag-btn-edito -->
        <div class="mag-couv">
          <%= image_tag m.apercu, size: '344x485' %>
        </div>
      </div> <!-- .edito-couv -->
    </div> <!-- .mag-container -->
    <% end %>

    </div> <!-- #mag-carousel -->
  </div> <!-- .mags-container -->

  <h3  class="title"><%= @presentation.titre3 %></h3>
  <div class="presentation-mags">
    <div class="texte-mags">
      <%= simple_format(@presentation.contenu3) %>
    </div>
    <div class="mascotte">
      <%= image_tag('mascotte3.png', alt: 'mascotte') %>
    </div>
  </div>
