<p id="notice"><%= notice %></p>

<h4>
  <%= @magazine.titre %>
</h4>

  <%= image_tag @magazine.apercu, size: '200x200' %>

<% @magazine.pages.each do |m| %>
    <%= image_tag m.image, size: '100x100' %>
    <%= link_to 'Supprimer', m, :method => :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<br />

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
