

<p>
  <strong>Titre:</strong>
  <%= @magazine.titre %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @magazine.thumbnail, size: '100x100' %>
</p>

<p>
  <strong>Scans :</strong>
  <% @magazine.pages.each do |m| %>
    <%= image_tag m.image.url, size: '100x100' %>
<% end %>
</p>

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
