<h4>
  <%= @magazine.titre %>
</h4>

  <%= image_tag @magazine.apercu, size: '200x200' %>

  <%= link_to 'Supprimer le magazine', @magazine, :method => :delete, data: {confirm: 'Le magazine et ses pages seront supprimés, continuer ?'} %>
  <br clear="all" />

<h1>Pages :</h1>
<% @magazine.pages.each do |m| %>

    <%= link_to magazine_page_path(id: m.page_number, magazine_id: @magazine.slug) do %>
    <%= image_tag m.image, size: '100x100' %>
    <% end %>

    <%= link_to 'Supprimer', [@magazine, m], :method => :delete, data: {confirm: 'Are you sure?'} %>

<% end %>
<br />

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
