
  <div class="container-webzine">
    <div class="webzine">
      <h1>Le webzine de prépublication de bandes-dessinées</h1>
      <div class="header-button">
        <%= link_to image_tag('lecture_webzine.png'), magazine_page_path(@magazine, 1) %>
      </div> <!-- .header-button -->
    </div> <!-- .webzine -->
  </div> <!-- .container-webzine -->

  <section class="actus">
    <div class="container-actu">
      <!-- Afficher les 3 derniers articles du blog -->
      <% @blogs.last(3).each do |b| %>
      <% if b.public || current_user %>
        <div class="actu kd-animate">
          <h3><strong><%= b.titre %></strong></h3>
          <%= image_tag b.illu1 %>
          <p><%= truncate(strip_tags(b.paragraphe1), :length => 150, :separator => ' ') %></p>
          <%= link_to 'Lire la suite ', b %>
        </div>
      <% end %>
      <% end %>
      <div class="actu-lien">
        <p>Pour les autres articles c'est par ici !</p>
      <span class="icon-stack">
        <div class="news    -mascotte">
          <%= image_tag('mascotte3.png', alt: 'mascotte kd') %>
        </div>

      </span>
        <%= link_to 'Blog', Blog, :class=>'blue-button' %>
      </div>
    </div>


  </section> <!-- .actus -->

  <section class="presentation-asso">
    <div class="cadre-asso">
      <div class="presentation-texte">
        <h2><%= @presentation.titre1 %></h2>
          <!-- les balises <p> sont incluses dans le contenu -->
          <%= simple_format(@presentation.contenu1) %>
        <h2><%= @presentation.titre2 %></h2>
        <!-- les balises <p> sont incluses dans le contenu -->
        <%= simple_format(@presentation.contenu2) %>
      </div>
      <div class="presentation-img">
          <%= image_tag('personnage_pain.png', alt: 'Païn', class:'hidden-sm hidden-xs') %>
      </div>
    </div>
  </section> <!-- .presentation-asso -->
