<h1>UTILISATEURS - PARTIE ADMIN</h1>
<p>Liste des utilisateurs :</p>


<table>
  <tr>
    <th>Avatar</th>
    <th>Pseudo</th>
    <th>Adresse email</th>
    <th>Rôle</th>
    <th>Action</th>
  </tr>
  <% @admin_users.each do |u| %>
    <tr>
      <td>
        <%= image_tag u.avatar, size: '50x50' %>
      </td>
      <td>
        <%= u.username %>
      </td>
      <td>
        <%= u.email %>
      </td>
      <td>
        <%= u.role %>
      </td>
      <td>
        <%= link_to 'Voir', admin_user_path(u) %>
        <a href="#">Modifier</a>
        <a href="#">Supprimer</a>
      </td>
    </tr>
  <% end %>
</table>