<div class="pages-reader">
  <% @page.each do |p| %>
    <%= image_tag p.image %>
  <% end %>

  <% if params[:id].to_i > 1 %>
    <%= link_to magazine_page_path(magazine_id: @magazine.slug, id: params[:id].to_i-1), title: 'page précédente' do %>
    <div class="arrow-back">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <% end %>
  <% end %>

  <% if params[:id].to_i < @magazine.pages.maximum('page_number') %>
    <%= link_to magazine_page_path(magazine_id: @magazine.slug, id: params[:id].to_i+1), title: 'page suivante' do %>
    <div class="arrow-next">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <% end %>
  <% end %>

  <div class="magazine-links">
    <% if params[:id].to_i > 1 %>
      <%= link_to '< Précédent', magazine_page_path(magazine_id: @magazine.slug, id: params[:id].to_i-1), title: 'Précédent' %>
    <% end %>
    |
    <% if params[:id].to_i < @magazine.pages.maximum('page_number') %>
      <%= link_to 'Suivant >', magazine_page_path(magazine_id: @magazine.slug, id: params[:id].to_i+1), title: 'Suivant' %>
    <% end %>
  </div>
  
</div>
