<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @page.titre %>
</p>

<p>
  <strong>Apercu:</strong>
  <%= @page.apercu %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
