<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @peji.image, size: '500x500' %>
</p>

<p>
  <strong>Manga:</strong>
  <%= @peji.manga.titre %>
</p>

<%= link_to '< Précédent', manga_peji_path(id: @peji.previous.scan_number, manga_id: @manga.slug) if @peji.previous %> |
<%= link_to 'Suivant >', manga_peji_path(id: @peji.next.scan_number, manga_id: @manga.slug) if @peji.next %>

