<h1>Admin Magazines</h1>

<table>
  <tbody>
    <% @admin_magazines.each do |admin_magazine| %>
      <tr>
        <td><%= admin_magazine.titre %></td>
        <td><%= image_tag admin_magazine.thumbnail, size: '100x100' %></td>
        <% admin_magazine.admin_pages.each do |page| %>
        <td><%= image_tag page.image, size: '100x100' %></td>
        <% end %>
        <td><%= link_to 'Show', admin_magazine %></td>
        <td><%= link_to 'Edit', edit_admin_magazine_path(admin_magazine) %></td>
        <td><%= link_to 'Destroy', admin_magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Magazine', new_admin_magazine_path %>
