<%= form_for @admin_carousel, :html => {:class=>'form-admin'} do |f| %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

    <div class="field">
      <%= f.text_field :titre, :placeholder=>'Le titre de la slide', :class=>'input-text' %>
    </div>

    <div class="field">
      <%= f.text_area :description, :maxlength => 220, :placeholder=>'Le texte qui va apparaître dans la slide', :class=>'input-text' %>
    </div>

    <div class="field">
      <%= f.text_field :lien, :placeholder=>'Le lien pour le bouton', :class=>'input-text' %>
    </div>

  <div class="actions">
    <%= f.submit "Créer la nouvelle slide", class: 'blue-button' %>
  </div>
<% end %>
