<%= form_for(admin_carousel) do |f| %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

    <div class="field">
      <%= f.label :titre %>
      <%= f.text_field :titre %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, :maxlength => 220 %>
    </div>

    <div class="field">
      <%= f.label :lien %>
      <%= f.text_field :lien %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
