<%= form_for(@user) do |f| %>

    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </p>

    <p>
      <%= f.label :is_femme %>
      <%= f.check_box :is_femme %>
    </p>

    <p>
      <% if @user.avatar %>
          <%= image_tag @user.avatar, size: '100x100' %>
      <% end %>
    </p>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <p>
      <%= f.label :date_naissance %>
      <%= f.date_select :date_naissance, {:start_year => 1990, order: [:day, :month, :year] } %>
    </p>

    <p>
      <%= f.label :role %>
      <%= f.select :role, options_for_select(%w[Dieu Staff Auteur], 'Auteur') %>
    </p>

  <%= f.submit %>
<% end %>

<%= link_to 'Modifier le mot de passe', change_password_path(@user) %>
