<h3 class="members-title">Membres & Auteurs</h3>

<section class="staff">
  <% @users.each do |u| %>
  <div class="membre is-collapsed">
    <div class="image-basic">
      <h4><%= u.username %></h4>
      <%= image_tag u.avatar, class: 'membre-img' %>
      <div class="arrow-up"></div>
    </div>
    <div class="image-expand">
      <div class="membre-presentation">
        <p><%= simple_format(u.description) %></p>
        <div class="projets-articles">
          <div class="membre-projets">
            <h5>Ses projets :</h5>
            <ul>
              <% u.mangas.each do |m| %>
                  <li><%= link_to m.titre, peji_path(manga_id: m.slug, chapter_id: 1, id: 1), title: 'Lire '+m.titre %></li>
              <% end %>
            </ul>
          </div>
          <div class="articles-recents">
            <h5>Ses articles récents :</h5>
            <ul>
              <% u.blogs.each do |b| %>
                  <li><%= link_to b.titre, b, title: 'Lire '+b.titre %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div> <!-- .membre-presentation -->
    </div> <!-- .image-expand -->
  </div> <!-- .membre -->
  <% end %>
</section>