<h1>Profiiiiil</h1>

<%= @user.username %><br />
<%= image_tag @user.avatar, size: '100x100' if @user.avatar %><br />
<%= @user.date_naissance.strftime('%d / %m / %Y') if @user.date_naissance %><br />
<%= @user.is_femme ? 'Femme' : 'Homme' %><br />
<%= @user.email %><br />
<%= @user.role if @user.role %><br />

<%= link_to 'Modifier profil', edit_user_path, id: current_user.id %>