<h1>Chapters</h1>
<% @manga.chapters.each do |chapter| %>
  <p>Titre : <%= chapter.titre %></p>
  <p>Apercu : <%= image_tag chapter.apercu, size: '100x100' %></p>
  <%= link_to 'Show', manga_chapter_path(@manga.id, chapter) %>
  <%= link_to 'Edit', edit_manga_chapter_path(@manga.id, chapter) %>
  <%= link_to 'Destroy', manga_chapter_path(@manga.id, chapter), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>


<br>

<%= link_to 'New Chapter', new_manga_chapter_path %>
