<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @chapter.titre %>
</p>

<p>
  <strong>Apercu:</strong>
  <%= image_tag @chapter.apercu, size: '200x200' %>
</p>

<p>
  <strong>Images :</strong>
  <% @chapter.pejis.each do |p| %>

      <%= link_to manga_chapter_peji_path(id: p.scan_number, chapter_id: @chapter.id) do %>
          <%= image_tag p.image, size: '100x100' %>
      <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_manga_chapter_path(@chapter) %> |
<%= link_to 'Back', manga_chapters_path %>
