<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @chapter.titre %>
</p>

<p>
  <strong>Apercu:</strong>
  <%= @chapter.apercu %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @chapter.slug %>
</p>

<p>
  <strong>:</strong>
  <%= @chapter. %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
