<%= form_for(blog) do |f| %>


  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :paragraphe1 %>
    <%= f.text_area :paragraphe1 %>
  </div>

  <div class="field">
    <%= f.label :paragraphe2 %>
    <%= f.text_area :paragraphe2 %>
  </div>

  <div class="field">
    <%= f.label :illu1 %>
    <%= f.file_field :illu1 %>
  </div>

  <div class="field">
    <%= f.label :paragraphe3 %>
    <%= f.text_area :paragraphe3 %>
  </div>

  <div class="field">
    <%= f.label :illu2 %>
    <%= f.file_field :illu2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
