<%= form_for(blog) do |f| %>


  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :contenu %>
    <%= f.text_area :contenu %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
