<div class="article-index">
  <h1>Le Blog</h1>
  <% @blog.each_with_index do |b,i| %>
  <% if current_user || b.public %>
    <div class="article-each">
      <div class="article-text <%= i.even? ? 'first' : 'second' %>">
        <h1>
          <%= link_to b.titre, b %>
          <% if !b.public && current_user %>
            <span class="article-draft">(brouillon)</span>
          <% end %>
        </h1>
        <%= strip_tags(b.paragraphe1).truncate_words(50) %>
        <br />
        <%= link_to 'Lire la suite >', b, :class => 'article-link' %>
      </div>
      <div class="article-img <%= i.even? ? 'second' : 'first' %>">
        <%= link_to image_tag(b.illu1), b %>
      </div>
    </div>
  <% end %>
  <% end %>

</div>
