<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @blog.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= simple_format(@blog.contenu) %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blog_index_path %>
