<section class="article-container">
  <article class="article">
    <h1><%= @blog.titre %></h1>
    <div class="first-paragraph">
      <%= simple_format(@blog.paragraphe1) %>
    </div>
    <div class="second-paragraph">
      <%= image_tag @blog.illu1, class: 'img-article-1' %>
      <%= simple_format(@blog.paragraphe2) %>
    </div>
    <div class="third-paragraph">
      <%= image_tag @blog.illu2, class: 'img-article-2' %>
      <%= simple_format(@blog.paragraphe3) %>
    </div>
    <!-- note : plus tard tkt
    <div class="article-tags">
      <h6>Tags :</h6>
      <span class="tag">Dessin</span>
      <span class="tag">Scénario</span>
      <span class="tag">Manga</span>
    </div>
  -->
  </article>
  <div class="infos-bonus">
    <div class="article-auteur">
      <p>A propos de l'auteur de l'article</p>
      <%= image_tag @blog.user.avatar %>
      <h4><%= @blog.user.username %><span class="auteur-role"><%= @blog.user.role %></span></h4>
      <%= simple_format(@blog.user.description).truncate_words(30) %>
    </div>

    <div class="autres-articles">
      <p>Découvrez aussi :</p>

      <% @blogs.last(5).each do |b| %>
        <%= link_to b, :class => current_page?(b) ? 'hide' : '' do %>
        <div class="article-apercu">
          <div class="apercu-texte">
            <h5><%= b.titre %></h5>
            <p>Créé le <%= b.created_at.strftime('%d/%m/%Y') %></p>
          </div>
          <div class="apercu-img">
            <%= image_tag b.illu1, class: 'article-auteur-img' %>
          </div>
        </div>
        <% end %>
      <% end %>

      <% if current_user %>
      <%= link_to 'Modifier', edit_blog_path(@blog), class: 'article-link' %>
      <% end %>
    </div>
  </div>
</section>
