<!-- Layout pour la partie administration -->

<html>
<head>
<title><%= titre %></title>

<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<% if notice %>
    <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>


<% if user_signed_in? %>
    <li>
      <%= link_to('Deconnexion', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Connexion', new_user_session_path)  %>
    </li>
<% end %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>