<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
      <p class="alert"><%= alert %></p>
  <% end %>

  <header>
    <nav>
      <ul>
        <li><%= link_to 'Magazines', magazines_path %></li>
        <li><%= link_to 'Mangas', mangas_path %></li>
        <li><%= link_to 'Blog', Blog %></li>
      </ul>
      <div class="header-logo">
        <%= link_to image_tag('KD.png',:class=> 'header-logo', alt: 'Logo menu kippon Dream'), root_path, :class => 'index-lien' %>

      </div>
      <ul>
        <li>Membres</li>
        <li><%= link_to 'Contact', new_contact_path %></li>
        <li>Boutique</li>
      </ul>
    </nav>

    <div id="header-slider" class="owl-carousel owl-theme">
      <!-- première slide -->
      <% @carousels.shuffle.each do |c| %>
      <div class="item">
        <div class="slide-description">
          <h3><%= c.titre %></h3>
          <p><%= c.description %></p>
          <button onclick="window.open('<%= c.lien %>')" class="header-button" type="button">En savoir plus ici</button>
        </div>
        <div class="img-slide">
          <%= image_tag c.image, class:'hidden-sm hidden-xs'%>
        </div>
      </div>
      <% end %>
    </div>
  </header>

  <main>
    <%= yield %>
  </main>


  <% if user_signed_in? %>
      <li>
        <%= link_to 'Administration', admin_root_path %> | <%= link_to 'Profil', current_user %> <%= link_to('Deconnexion', destroy_user_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Connexion', new_user_session_path)  %>
      </li>
  <% end %>

  <% if current_user %>
  <%= current_user.role %>
  <% end %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
