<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
      <p class="alert"><%= alert %></p>
  <% end %>

  <header>
    <nav>
      <ul>
        <li>Magazines</li>
        <li>Séries</li>
        <li>Blog</li>
      </ul>
      <div class="header-logo">
        <%= link_to image_tag('KD.png',:class=> 'header-logo', alt: 'Logo menu kippon Dream'), root_path, :class => 'index-lien' %>

      </div>
      <ul>
        <li>Membres</li>
        <li>Contact</li>
        <li>Boutique</li>
      </ul>
    </nav>

    <div id="header-slider" class="owl-carousel owl-theme">
      <!-- première slide -->
      <div class="item">
        <div class="slide-description">
          <button class="header-button">Bouton rediretion</button>
          <h3>Titre de la slide</h3>
          <p>Infos news manga blabla</p>

        </div>

        <div class="img-slide">
          <%= image_tag('imgcarousel1.png', alt: '', class:'hidden-sm hidden-xs')%>
        </div>
      </div>
      <!-- deuxième slide -->
      <div class="item">
        <div class="slide-description">
          <button class="header-button">Bouton rediretion</button>
          <h3>Titre de la slide</h3>
          <p>Infos news manga blabla</p>
        </div>

        <div class="img-slide">
          <%= image_tag('imgcarousel1.png', alt: '', class:'hidden-sm hidden-xs')%>
        </div>
      </div>

      <!-- troisième slide -->
      <div class="item">
        <div class="slide-description">
          <button class="header-button">Bouton rediretion</button>
          <h3>Titre de la slide</h3>
          <p>Infos news manga blabla</p>

        </div>

        <div class="img-slide">
          <%= image_tag('imgcarousel1.png', alt: '', class:'hidden-sm hidden-xs')%>
        </div>
      </div>

      <!-- quatrième slide -->
      <div class="item">
        <div class="slide-description">
          <button class="header-button">Bouton rediretion</button>
          <h3>Titre de la slide</h3>
          <p>Infos news manga blabla</p>
        </div>

        <div class="img-slide">
          <%= image_tag('imgcarousel1.png', alt: '', class:'hidden-sm hidden-xs')%>
        </div>
      </div>

      <!-- cinquième slide -->
      <div class="item">
        <div class="slide-description">
          <button class="header-button">Bouton rediretion</button>
          <h3>Titre de la slide</h3>
          <p>Infos news manga blabla</p>
        </div>

        <div class="img-slide">
          <%= image_tag('imgcarousel1.png', alt: '', class:'hidden-sm hidden-xs')%>
        </div>
      </div>
    </div>
  </header>


    <%= yield %>

  <% if user_signed_in? %>
      <li>
        <%= link_to 'Administration', admin_root_path %> | <%= link_to 'Profil', current_user %> <%= link_to('Deconnexion', destroy_user_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Connexion', new_user_session_path)  %>
      </li>
  <% end %>

  <% if current_user %>
  <%= current_user.role %>
  <% end %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
