<!DOCTYPE html>
<html>
<head>
  <title><%= titre %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>

<header class="header-reader">
  <nav>
    <ul>
      <li><%= link_to 'Magazines', magazines_path %></li>
      <li><%= link_to 'Mangas', mangas_path %></li>
      <li><%= link_to 'Blog', Blog %></li>
    </ul>
    <div class="header-logo">
      <%= link_to image_tag('KD.png',:class=> 'header-logo', alt: 'Logo menu kippon Dream'), root_path, :class => 'index-lien' %>

    </div>
    <ul>
      <li><%= link_to 'Membres', '/membres' %></li>
      <li><%= link_to 'Contact', new_contact_path %></li>
      <li>Boutique</li>
    </ul>
  </nav>

  <div class="read-menu">
    <div class="read-titre">
      <h1>Animix</h1>
    </div>
    <div class="read-img">
      <%= image_tag('mags/mag_01.png', alt: 'mascotte') %>
    </div>
    <div class="read-select">
      <select name="" id="select-chapitre">
        <option value="1">Chapitre 1 : titre du chapitre</option>
        <option value="2">Chapitre 2 : titre du chapitre</option>
        <option value="3">Chapitre 3 : titre du chapitre</option>
      </select>
    </div>

  </div>
</header>

<main class="main-reader">
  <%= yield %>
</main>


<% if user_signed_in? %>
    <li>
      <%= link_to 'Administration', admin_root_path %> | <%= link_to 'Profil', current_user %> <%= link_to('Deconnexion', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Connexion', new_user_session_path)  %>
    </li>
<% end %>

<% if current_user %>
    <%= current_user.role %>
<% end %>


<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
