<!DOCTYPE html>
<html>
<head>
  <title><%= titre %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>

<header class="header-reader", style="background: url('<%= @manga ? @manga.banniere : @magazine.banniere %>') 100% no-repeat !important;">
  <nav>
    <ul>
      <li><%= link_to 'Magazines', magazines_path %></li>
      <li><%= link_to 'Mangas', mangas_path %></li>
      <li><%= link_to 'Blog', Blog %></li>
    </ul>
    <div class="header-logo">
      <%= link_to image_tag('KD.png',:class=> 'header-logo', alt: 'Logo menu kippon Dream'), root_path, :class => 'index-lien' %>

    </div>
    <ul>
      <li><%= link_to 'Membres', '/membres' %></li>
      <li><%= link_to 'Contact', new_contact_path %></li>
      <li>Boutique</li>
    </ul>
  </nav>

  <div class="read-menu">
    <div class="read-titre">
      <h1>
        <%= @manga ? @manga.titre : @magazine.titre %>
      </h1>
    </div>
    <div class="read-img">
      <%= @manga ? image_tag(@manga.apercu) : image_tag(@magazine.apercu) %>
    </div>

    <% if @manga %>
      <div class="read-select">
        <%= select_tag 'select_chapters',
          options_for_select(
            @manga.chapters.collect{
              |m| [m.titre, m.chapter_number]},
              selected: params[:chapter_id])
        %>
      </div>

      <div class="read-select">
        <%= select_tag 'select_pages',
          options_for_select(
          @chapter.pejis.collect{
            |c| ['Page '+c.scan_number.to_s, c.scan_number] },
            selected: params[:id])
        %>
      </div>

    <% else %>
    <div class="read-select">
      <%= select_tag 'select_mag',
        options_for_select(
        Magazine.all.collect{
          |m| [m.titre, m.slug] },
          selected: params[:magazine_id])
      %>
    </div>
    <% end %>

  </div>
</header>

<main class="main-reader">
  <%= yield %>
</main>

<footer>
  <div class="footer-content">
    <div class="footer-content-logo">
      <%= image_tag 'mascotte.png' %>
    </div>
    <div class="footer-content-links">
      <h3>Kippon Dream</h3>
      <ul>
        <li><%= link_to 'Les magazines', magazines_path %></li>
        <li><%= link_to 'Les mangas', mangas_path %></li>
        <li><%= link_to 'Le blog', Blog %></li>
        <li><%= link_to 'La team et les membres', root_path %></a></li>
        <li><%= link_to 'Contact', new_contact_path %></li>
        <li><%= link_to 'La boutique', '#' %></li>
      </ul>
    </div>
    <div class="footer-content-links">
      <h3>Partenaires</h3>
      <ul>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
      </ul>
    </div>
    <div class="footer-content-links">
      <h3>Retrouvez-nous ici aussi</h3>
      <ul>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
      </ul>
    </div>

  </div>
  <div class="div1"><p>&copy; 2016 - KIPPON DREAM</p></div>
  <div class="div2">
    <% if user_signed_in? %>
        <p>
          <%= link_to 'Administration', admin_root_path %> |
          <%= link_to 'Editer le profil', edit_user_path(current_user) %>
          <%= link_to('Deconnexion', destroy_user_session_path, :method => :delete) %>
        </p>
    <% end %>
  </div>
</footer>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Redirection vers le chapitre / la page quand on clique sur le select -->
  <% if @manga %>
  <script>
      $(function(){
        $('#select_chapters').bind('change', function () {
           var url = "/mangas/<%= params[:manga_id] %>/" + $(this).val() + '/1'
            if (url) {
                window.location.replace(url);
            }
            return false;
        });

        $('#select_pages').bind('change', function () {
           var url = "/mangas/<%= params[:manga_id] %>/<%= params[:chapter_id]%>/"+$(this).val()
            if (url) {
                window.location.replace(url);
            }
            return false;
        });
      });
  </script>
  <% else %>
  <script>
      $(function(){
        $('#select_mag').bind('change', function () {
           var url = "/magazines/<%= params[:manga_id] %>/" + $(this).val() + '/pages/1'
            if (url) {
                window.location.replace(url);
            }
            return false;
        });
      });
    </script >
  <% end %>
</body>
</html>
