<!DOCTYPE html>
<html>
<head>
  <title><%= titre %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>

<header class="header-reader", style="background: url('<%= @manga ? @manga.banniere : @magazine.banniere %>') 100% no-repeat !important;">
  <nav>
    <ul>
      <li><%= link_to 'Magazines', magazines_path %></li>
      <li><%= link_to 'Mangas', mangas_path %></li>
      <li><%= link_to 'Blog', Blog %></li>
    </ul>
    <div class="header-logo">
      <%= link_to image_tag('KD.png',:class=> 'header-logo', alt: 'Logo menu kippon Dream'), root_path, :class => 'index-lien' %>

    </div>
    <ul>
      <li><%= link_to 'Membres', '/membres' %></li>
      <li><%= link_to 'Contact', new_contact_path %></li>
      <li>Boutique</li>
    </ul>
  </nav>

  <div class="read-menu">
    <div class="read-titre">
      <h1>
        <%= @manga ? @manga.titre : @magazine.titre %>
      </h1>
    </div>
    <div class="read-img">
      <%= @manga ? image_tag(@manga.apercu) : image_tag(@magazine.apercu) %>
    </div>
    <div class="read-select">
      <select name="" id="select-chapitre">
        <option value="1">Chapitre 1 : titre du chapitre</option>
        <option value="2">Chapitre 2 : titre du chapitre</option>
        <option value="3">Chapitre 3 : titre du chapitre</option>
      </select>
    </div>

  </div>
</header>

<main class="main-reader">
  <%= yield %>
</main>

<footer>
  <div class="footer-content">
    <div class="footer-content-logo">
      <%= image_tag 'mascotte.png' %>
    </div>
    <div class="footer-content-links">
      <h3>Kippon Dream</h3>
      <ul>
        <li><%= link_to 'Les magazines', magazines_path %></li>
        <li><%= link_to 'Les mangas', mangas_path %></li>
        <li><%= link_to 'Le blog', Blog %></li>
        <li><%= link_to 'La team et les membres', root_path %></a></li>
        <li><%= link_to 'Contact', new_contact_path %></li>
        <li><%= link_to 'La boutique', '#' %></li>
      </ul>
    </div>
    <div class="footer-content-links">
      <h3>Partenaires</h3>
      <ul>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
      </ul>
    </div>
    <div class="footer-content-links">
      <h3>Retrouvez-nous ici aussi</h3>
      <ul>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
        <li><a href="#">Les magazines</a></li>
      </ul>
    </div>

  </div>
  <div class="div1"><p>&copy; 2016 - KIPPON DREAM</p></div>
  <div class="div2">
    <% if user_signed_in? %>
        <p>
          <%= link_to 'Administration', admin_root_path %> |
          <%= link_to 'Profil', current_user %>
          <%= link_to('Deconnexion', destroy_user_session_path, :method => :delete) %>
        </p>
    <% end %>
  </div>
</footer>


<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
